<form action='/book/<%=@book.id %>' method='POST'>
<input type='hidden' name='_method' value='put' />
title:<input type='text' name='title' value=<%= @book.title  %>/>
  </br>
  name:<input type='text' name='name' value=<%= @book.name  %>/>
  </br>
  author:<input type='text' name='author' value=<%= @book.author %> />
  </br>
  <input type='submit' value='确定'/>
</form>