<form action='/book' method='POST'>
title:<input type='text' name='title' value="1111" />
  </br>
  name:<input type='text' name='name' value="1111" />
  </br>
  author:<input type='text' name='author'  value="1111" />
  </br>
  <input type='submit' value='确定'/>
</form>